<div class="main-con">
    <div class="track-info track-name">{{player.current.filename}}</div>
    <div class="img-con">
        <div class="icon heart"
             data-ng-if="!status.heart"
             data-ng-click="playlist.add(player.current)">
            <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        <div class="icon heart"
             data-ng-if="status.heart"
             data-ng-click="playlist.remove(player.current)">
            <span class="glyphicon glyphicon-heart"></span>
        </div>

        <div class="icon radio">
            <a class=" glyphicon glyphicon-cloud" href="/#/fms"></a>
        </div>
        <!--<a href="/#/krc" class="icon icon-paragraph-center"></a>-->

        <div class="normal">
            <img class="singer-img" data-ng-src="{{player.current.imgurl | size:200}}" alt=""/>
        </div>
        <div class="inversion"></div>
    </div>
    <div class="krc">
        <p data-ng-repeat="pos in [player.krc.active-1 ,player.krc.active, player.krc.active+1]"
           data-ng-class="{active : $index === 1}">{{player.krc[player.krc.points[pos]]}}</p>
    </div>
</div>
