<div class="playlist">
    <div class="track"
         data-ng-class="{'bg-info': !isPlaying(track),'btn-primary': isPlaying(track)}"
         data-ng-repeat="track in playlist.tracks | orderObjectBy:'timestamp'">
        <button class="btn btn-xs btn-default"
                data-ng-click="remove(track)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <span class="track-name"
              data-ng-click="play(track,'PLAYLIST')">{{track.filename}}</span>
        <span class="track-duration pull-right">{{track.duration | time}}</span>
    </div>
</div>