<div class="player">
    <div class="player-control"
         data-ng-click="player.prev()">
        <span class="glyphicon glyphicon-step-backward"></span>
    </div>
    <div class="player-control pause"
         data-ng-if="!player.playing()"
         data-ng-click="player.play()">
        <span class="glyphicon glyphicon-play"></span>
    </div>
    <div class="player-control play"
         data-ng-if="player.playing()"
         data-ng-click="player.pause()">
        <span class="glyphicon glyphicon-pause"></span>
    </div>
    <div class="player-control"
         data-ng-click="player.next()">
        <span class="glyphicon glyphicon-step-forward"></span>
    </div>
    <!--<div class="player-right">-->
    <!--<div class="btn-group" data-ng-if="player.type !== 'FM'">-->
    <!--<label class="btn btn-xs btn-default" data-ng-model="player.mode" btn-radio="'NORMAL'">-->
    <!--<span class="glyphicon glyphicon-retweet"></span></label>-->
    <!--<label class="btn btn-xs  btn-default" data-ng-model="player.mode" btn-radio="'LOOP'">-->
    <!--<span class="glyphicon glyphicon-repeat"></span></label>-->
    <!--<label class="btn btn-xs  btn-default" data-ng-model="player.mode" btn-radio="'RANDOM'">-->
    <!--<span class="glyphicon glyphicon-random"></span></label>-->
    <!--</div>-->
    <!--<div class="visual">-->
    <!--<img class="singer-img" data-ng-src="{{player.current.imgurl | size:80}}" alt="" width="48"/>-->
    <!--<canvas width="300px" height="48px"></canvas>-->
    <!--</div>-->
    <!--<span class="current">{{player.currentTime | time}}</span>-->
    <!--<span class="duration">{{player.current.duration | time}}</span>-->


    <!--</div>-->
</div>