<div class="player">
    <div class="progress" data-ng-click="seek($event)">
        <div class="progress-bar"
             role="progressbar"
             aria-valuemin="0"
             aria-valuemax="100"
             data-ng-style="{width: player.progress + '%'}">
        </div>
    </div>
    <span class="current">{{player.currentTime | time}}</span>
    <span class="duration">{{player.current.duration | time}}</span>

    <div class="player-control prev"
         data-ng-click="prev()">
        <span class="glyphicon glyphicon-step-backward"></span>
    </div>
    <div class="player-control pause"
         data-ng-if="!player.playing()"
         data-ng-click="player.play()">
        <span class="glyphicon glyphicon-play"></span>
    </div>
    <div class="player-control play"
         data-ng-if="player.playing()"
         data-ng-click="player.pause()">
        <span class="glyphicon glyphicon-pause"></span>
    </div>
    <div class="player-control next"
         data-ng-click="next()">
        <span class="glyphicon glyphicon-step-forward"></span>
    </div>
</div>