<div class="nav">
    <div class="pagination-sm"
         data-pagination
         data-total-items="radio.info.total"
         data-ng-model="radio.info.page"
         data-max-size="radio.info.maxSize"
         data-items-per-page="radio.info.pagesize"
         data-boundary-links="true"
         data-rotate="false"
         data-num-pages="totalPage"
         data-ng-show="totalPage > 1"></div>
</div>
<div class="bg-info clearfix track"
     data-ng-repeat="fm in radio.fms">
    <span class="result-name">{{fm.fmname}}</span>

    <div class="btn btn-success btn-xs pull-right"
         data-ng-click="tuneTo(fm)">
        <span class="glyphicon glyphicon-play"></span>
    </div>
</div>