$theme-color-blue: #28A7E1;
$theme-color-yellow: #F39800;
$player-height: 100px;
$player-button-size: 24px;
$nav-height: 50px;
$control-size: $player-button-size * 2;
$control-border-width: 3px;
$control-border-color: #FFF;
$control-hover-border-color: $theme-color-yellow;
$control-icon-color: #FFF;
$control-hover-icon-color: $theme-color-blue;
$control-background-color: #FFF;
$control-hover-background-color: #FFF;