// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "compass";

.container {
  width: 768px;
}

.mb-20 {
  margin-bottom: 20px;
}

.line-header {
  height: 40px;
}

.search, .player, .player-control {
  margin-bottom: 20px;
}

.search {
  margin-top: 20px;
}

.song-img {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  height: 290px;
  width: 290px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
  @include border-radius(145px);
  .center-big {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    @include border-radius(50%);
    overflow: hidden;
    background: RGBA(0, 0, 0, 0.3);
  }
  .center-small {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    @include border-radius(50%);
    overflow: hidden;
    background: #FFF;
  }
  img {
    vertical-align: middle;
    width: 286px;
    height: auto;
  }
}

@-webkit-keyframes rotate {
  form {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotate 20s infinite;
  animation: rotate 20s infinite;
}

.song-progress .progress {
  height: 5px;
  cursor: pointer;
}

.player-control {
  .btn {
    width: 100%;
  }
}

.playlist-item, .search-item {
  margin-bottom: 2px;
  padding: 10px;
  line-height: 22px;
}

.playlist-item, .search-item {
  &:hover {
    .btn {
      visibility: visible;
    }
  }
  .btn {
    visibility: hidden;
  }
}

.song-name {
  padding-left: 10px;
  display: inline-block;
  width: 75%;
  height: 23px;
  line-height: 23px;
  vertical-align: top;
  @include ellipsis();
}

.result-name {
  display: inline-block;
  height: 22px;
  width: 90%;
  @include ellipsis();
  line-height: 22px;
  vertical-align: top;
}

.result-nav {
  text-align: center;
  line-height: 30px;
}