// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "compass";
@import "line";

.mr-10 {
  margin-right: 10px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-20 {
  margin-bottom: 25px;
}

#player {
  height: 100px;
  font-size: 0px;
  width: 100%;
  padding-left: 190px;
  padding-right: 10px;
  .player-right {
    float: left;
    height: 100%;
    margin-left: -180px;
    width: 180px;
  }
  .player-left {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
    font-size: 14px;
  }
  .track-info {
    height: 48px;
  }
  .duration, .current {
    position: absolute;
    top: 52px;
  }
  .duration {
    color: $theme-color-yellow;
    right: 0px;
  }
  .current {
    color: $theme-color-blue;
    left: 0px;
  }
  .progress {
    background: $theme-color-yellow;
    cursor: pointer;
    height: 4px;
    margin-bottom: 0;
    .progress-bar {
      background: $theme-color-blue;
    }
  }
  .player-control {
    background-color: $control-background-color;
    border: $control-border-width solid $control-border-color;
    @include border-radius($control-size/2);
    color: $control-icon-color;
    display: inline-block;
    font-size: 16px;
    height: $control-size;
    line-height: $control-size - $control-border-width * 2;
    overflow: hidden;
    text-align: center;
    width: $control-size;
    &:hover {
      border-color: $control-hover-border-color;
      background-color: $control-hover-background-color;
      color: $control-hover-icon-color;
    }
  }
}

#search {
  margin: 10px;
  .form-control {
    max-width: 300px;
  }
}

.track {
  line-height: 22px;
  padding: 10px;
  margin-bottom: 3px;
}

#playlist {
  float: left;
  margin: 10px;
  width: 370px;
  .btn {
    visibility: hidden;
  }
  .track:hover {
    .btn {
      visibility: visible;
    }
  }
}

.tracks {
  float: right;
  margin: 10px;
  width: 370px;
  .nav {
    line-height: 30px;
    text-align: center;
  }
}

.dropdown-menu{
  width: 300px;
}

